@import "normalize";
@import "variables";
@import "mixins";

@import "layout";

html, body {
  height: 100%;
  font-family: 'Open Sans';
}

#main-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  background: #e7e7e7;
}

.application-container {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 570px;
  background: #fbfbfb;
  box-shadow: 0 1px 4px rgba(0,0,0,.1);
  overflow: hidden;
  &.open-images {
    .images {
      height: 100px;
      img {
        opacity: 1;
        height: 80px;
      }
    }
  }
}

h3 {
  background: $blue;
  color: white;
  margin: 0;
  padding: 10px;
  font-size: 17px;
  font-weight: 400;
  clear: both;
  a {
    text-decoration: none;
    color: white;
    float: right;
    font-size: 14px;
  }
}

.vr-scene-wrapper {
  flex-grow: 1;
  background: $red;
  position: relative;
  .images {
    width: 100%;
    top: 0;
    left: 0;
    height: 0;
    clear: both;
    transition: height .3s;
    position: absolute;
    z-index: 1;
    background: $red;
    img {
      display: block;
      opacity: 0;
      width: 100px;
      height: 0;
      border-radius: 2px;
      float: left;
      margin: 10px 0 0 10px;
      transition: height .3s;
    }
  }
  // canvas {
  //   width: 1000px !important;
  //   height: 570px !important;
  // }
  .a-enter-vr {
    position: fixed;
  }
}
